body {
    background-image: url("../images/rain.png");
    font-family: Montserrat;
}
#logo {
    margin-top: 3%;
    width: 29%;
}
#welcome {
    margin-top: 10%;
    text-align: center;
    color: white;
    background-color:rgba(39, 32, 32, 0.8);
    border-radius: 25px;
    border: 2px solid rgba(39, 32, 32, 0.8);
    line-height: 150%;
}
#disclaimer{
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 6%;
}
#letsgo {
    color: black;
    background-color: white;
    margin-bottom: 2%;
}
.nav-wrapper {
    background: linear-gradient(rgb(71, 71, 71), gray, rgb(71, 71, 71) );
}
#home {
    color: white;
}
#wwarnings {
    color: white;
}
#usdest {
    color: white;
}